<app-header></app-header>
<main>
  <h3>Painel de Leads</h3>
  <a routerLink="novo">
    <button mat-raised-button color="primary" id="btn-addlead">
      Novo Lead (+)
    </button>
  </a>
  <div id="table-leads">
    <table>
      <thead>
        <tr>
          <th>Cliente em Potencial</th>
          <th>Dados Confirmados</th>
          <th>Reunião Agendada</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Org. Internacionais</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Ind. Farm. LTDA</td>
          <td></td>
        </tr>
        <tr>
          <td>Musc. Sound Live Cmp</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Org. Internacionais</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Ind. Farm. LTDA</td>
          <td></td>
        </tr>
        <tr>
          <td>Musc. Sound Live Cmp</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Org. Internacionais</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Ind. Farm. LTDA</td>
          <td></td>
        </tr>
        <tr>
          <td>Musc. Sound Live Cmp</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Org. Internacionais</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Ind. Farm. LTDA</td>
          <td></td>
        </tr>
        <tr>
          <td>Musc. Sound Live Cmp</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Org. Internacionais</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Ind. Farm. LTDA</td>
          <td></td>
        </tr>
        <tr>
          <td>Musc. Sound Live Cmp</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Org. Internacionais</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Ind. Farm. LTDA</td>
          <td></td>
        </tr>
        <tr>
          <td>Musc. Sound Live Cmp</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Org. Internacionais</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Ind. Farm. LTDA</td>
          <td></td>
        </tr>
        <tr>
          <td>Musc. Sound Live Cmp</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Org. Internacionais</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Ind. Farm. LTDA</td>
          <td></td>
        </tr>
        <tr>
          <td>Musc. Sound Live Cmp</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Org. Internacionais</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Ind. Farm. LTDA</td>
          <td></td>
        </tr>
        <tr>
          <td>Musc. Sound Live Cmp</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Org. Internacionais</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Ind. Farm. LTDA</td>
          <td></td>
        </tr>
        <tr>
          <td>Musc. Sound Live Cmp</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
