div#container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 10fr 80fr 10fr;
  grid-template-rows: 25fr 50fr 25fr;
  background-color: lightgray;
}
div#formCard {
  grid-row: 2;
  grid-column: 2;
  height: max-content;
  max-height: 85vh;
  width: 100%;
  max-width: 450px;
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 20px;
  margin: 0 auto auto;
  background-color: white;
  overflow: auto;
  & > div {
    width: min-content;
    margin: auto;
    padding-top: 20px;
  }
}
