<form [formGroup]="form" (ngSubmit)="newLeadController.submit()">
  <div>
    <label>
      Nome *
      <input formControlName="name" type="text" />
    </label>
    <label>
      Telefone *
      <input formControlName="phone" type="tel" />
    </label>
    <label>
      E-mail *
      <input formControlName="email" />
    </label>
  </div>
  <div>
    <label>Oportunidades *</label>
    <table>
      <thead>
        <tr>
          <th>
            <input
              type="checkbox"
              id="ckbAll"
              (change)="newLeadController.checkAllEvent()"
            />
          </th>
          <th><label for="ckbAll"></label></th>
        </tr>
      </thead>
      <tbody *ngIf="opportunities.length">
        <tr
          *ngFor="let item of opportunities; let i = index"
          formArrayName="opportunities"
        >
          <td>
            <input type="checkbox" id="ckb{{ i }}" [formControlName]="i" />
          </td>
          <td>
            <label for="ckb{{ i }}">{{ item }}</label>
          </td>
        </tr>
      </tbody>
    </table>
    <span class="btn">
      <button
        mat-raised-button
        color="primary"
        id="btn-save"
        type="submit"
        [disabled]="!newLeadController.validate"
      >
        Salvar
      </button>
    </span>
  </div>
</form>
