<div id="table-leads">
  <table>
    <thead>
      <tr>
        <th>Cliente em Potencial</th>
        <th>Dados Confirmados</th>
        <th>Reunião Agendada</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableController.getTables; let i = index">
        <td *ngFor="let column of columns">
          <div
            id="{{ tableController.getCurrentCell(i, column, columns.length) }}"
            class="leadDiv"
            cdkDropList
            (cdkDropListDropped)="tableController.drop($event, leadService)"
            [cdkDropListData]="row[column]"
            [cdkDropListConnectedTo]="
              tableController.getDropConnectedTo(i, column, columns.length)
            "
          >
            <div class="leadDragDrop" *ngFor="let cell of row[column]" cdkDrag>
              <app-card-lead *ngIf="cell" [lead]="cell"></app-card-lead>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
